<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ_js3jvak9wW4ul-4azs52VNK-3dON-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>834363154845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateuszkasprzak.toDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-235a3</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-235a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834363154845:ios:c0e85d5da897e1e0100f74</string>
</dict>
</plist>